############################################################
# Filesystems & Debug
############################################################
CONFIG_EXT4_FS=y
CONFIG_DEBUG_INFO=n
CONFIG_AUDIT=y
CONFIG_AUDITSYSCALL=y
CONFIG_AUDIT_ARCH=y
CONFIG_AUDIT_WATCH=y
CONFIG_AUDIT_TREE=y
CONFIG_DEBUG_INFO_BTF=n
CONFIG_BPF_SYSCALL=n