############################################################
# Networking & Packet I/O
############################################################
CONFIG_NET=y
CONFIG_INET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_NETDEVICES=y
CONFIG_ETHERNET=y
CONFIG_LLC=y
CONFIG_STP=y
CONFIG_BRIDGE=y
CONFIG_BRIDGE_VLAN_FILTERING=y
CONFIG_VLAN_8021Q=y
CONFIG_VXLAN=y
CONFIG_XDP_SOCKETS=y  
CONFIG_AF_XDP=y
CONFIG_RFS_ACCEL=y   
CONFIG_NET_RX_BUSY_POLL=y 
CONFIG_RX_RING_FANOUT=y        
