############################################################
# Userspace I/O & VFIO
############################################################
CONFIG_UIO=y                        
CONFIG_UIO_PCI_GENERIC=y    
CONFIG_VFIO=y               
CONFIG_VFIO_PCI=y       
CONFIG_VFIO_IOMMU_TYPE1=y     
CONFIG_VFIO_VIRQFD=y        
CONFIG_IOMMU_DMA=y      
CONFIG_IOMMU_PASSTHROUGH=y 