############################################################
# NUMA & DMA Zones
############################################################
CONFIG_NUMA=y
CONFIG_ZONE_DMA_CMA=y
CONFIG_X86_64_ACPI_NUMA=y
CONFIG_ACPI_NUMA=y
CONFIG_SPARSEMEM=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_MEMORY_HOTPLUG_DEFAULT_ONLINE=y
CONFIG_MEMORY_HOTREMOVE=y
CONFIG_SECURITY_APPARMOR=n